/musixise.xcworkspace/xcuserdata/wmy.xcuserdatad/UserInterfaceState.xcuserstate
/Pods
/Podfile.lock
.DS_Store
/LocalPods/MYWidget/.DS_Store
/.DS_Store
/musixise.xcworkspace/xcuserdata/wmy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
